{% extends 'base.html.twig' %}

{% block title %}Ammende index{% endblock %}

{% block body %}
    <h1>Ammende index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Prix</th>
                <th>Date_creation</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ammende in ammendes %}
            <tr>
                <td>{{ ammende.id }}</td>
                <td>{{ ammende.prix }}</td>
                <td>{{ ammende.dateCreation ? ammende.dateCreation|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_ammende_new') }}">Create new</a>
{% endblock %}
