<form method="post" action="{{ path('app_portefeuil_delete', {'id': portefeuil.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ portefeuil.id) }}">
    <button class="btn">Delete</button>
</form>
