    <div id="quickview-wrapper">
        <!-- Modal -->
        <div class="modal fade" id="productModal" tabindex="-1" role="dialog" style" ">
            <div class="modal-dialog modal__container" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button id="idio" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <div class="modal-product">
                            
                            <div class="product-info">
                                <h1 >Place N°: <spam id="numplace"> </spam></h1>
                                <h1 >Etat: <spam id="etatplace">  </spam></h1>
                                <h1  class="datearrive">arrivé:  <spam id="datearrive">  </spam></h1>
                                 <h1  class="tarif">Tarif:  <spam id="tarif">  </spam></h1>
                                <h1 class="nummat">matricule: <spam id="nummat"> </spam></h1>
                                <h1 class="restant">restant: <spam id="restant"> </spam></h1>
                                <a href="/parking/">X</a>
                            
                                <div id="stationner" class="addtocart-btn">
                                    <a class="btnstationner" data-id="place" href="/place/ajout-parking/">Me stationner</a>
                                </div>
                            </div><!-- .product-info -->
                        </div><!-- .modal-product -->
                    </div><!-- .modal-body -->
                </div><!-- .modal-content -->
            </div><!-- .modal-dialog -->
        </div>
        <!-- END Modal -->
    </div>