{% extends 'base.html.twig' %}

{% block title %}EtatPlace{% endblock %}

{% block body %}
    <h1>EtatPlace</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ etat_place.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_etat_place_index') }}">back to list</a>

    <a href="{{ path('app_etat_place_edit', {'id': etat_place.id}) }}">edit</a>

    {{ include('etat_place/_delete_form.html.twig') }}
{% endblock %}
